body {
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.footer-inverse {
    background-color: #606060;
    border-color: #f5f5dc;
}

/*footer styles*/
.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #606060;
    color: #f5f5dc;
}

    .footer a {
        color: #f5f5dc;
    }