@{
    ViewBag.Title = "About Store";
}
<link rel="stylesheet" href="~/Content/pages/about.css" />

<div class="container-fluid page-content row">
    <div class="col-md-6 text-div">
        <h2>About Us</h2>
        <hr />
        <p>
            Our store entered the market in 2020, and since that time we have been selling a wide variety of products.
            From clothing to household appliances, you will find anything you want in our assortment! 
            Also, recently we have opened an offline point of delivery of goods, with a small store in the center of Warsaw! 
            We are always glad to see you enjoying new purchases!
        </p>
        <hr />
        <h3>Our adress: <i style="color: #6B8E23;">plac Defilad 1, 00-901 Warszawa</i></h3>
        <br />
        <h3>Our email: <i style="color: #6B8E23;">infoPZS@gmail.com</i></h3>
        <br />
        <h3>Our phone: <i style="color: #6B8E23;">+48 888 999 000</i></h3>
    </div>
    <div class="col-md-6">
        <!--Map-->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2443.6401455250457!2d21.004293015610315!3d52.231755379760685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecc8c92692e49%3A0x33f0e5becb0a7a8e!2splac%20Defilad%201%2C%2000-901%20Warszawa!5e0!3m2!1suk!2spl!4v1603187272869!5m2!1suk!2spl"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>