@{
    ViewBag.Title = "Main Page";
}
<link rel="stylesheet" href="~/Content/pages/main-page.css" />

<div class="row">
    <div class="col-md-2 category-bar">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">All</a>
            <a href="#" class="list-group-item list-group-item-action">CLothes</a>
            <a href="#" class="list-group-item list-group-item-action">Toys</a>
            <a href="#" class="list-group-item list-group-item-action">Furniture</a>
            <a href="#" class="list-group-item list-group-item-action">Something else</a>
        </div>
    </div>
    <div class="col-md-10">
        @Html.Action("ProductsRow", "Partial", new { page = ViewBag.productPage})
    </div>
</div>