@{
    ViewBag.Title = "Main Page";
}
<link rel="stylesheet" href="~/Content/pages/main-page.css" />

<div class="row">
    <div class="col-md-2 category-bar">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">All</a>
            <a href="#" class="list-group-item list-group-item-action">CLothes</a>
            <a href="#" class="list-group-item list-group-item-action">Toys</a>
            <a href="#" class="list-group-item list-group-item-action">Furniture</a>
            <a href="#" class="list-group-item list-group-item-action">Something else</a>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-3">
                <div class="card text-center">
                    <img src="~/Assets/images/products/toys/teddy.png" alt="" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Teddy</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Integer efficitur varius nulla, et porta mi posuere ac. Donec finibus nibh ac tincidunt varius.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pharetra ipsum et neque ornare luctus.
                        </p>
                        <a href="" class="btn btn-info">SHOW</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center">
                    <img src="~/Assets/images/products/toys/ball.jpg" alt="" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Ball</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Integer efficitur varius nulla, et porta mi posuere ac. Donec finibus nibh ac tincidunt varius.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pharetra ipsum et neque ornare luctus.
                        </p>
                        <a href="" class="btn btn-info">SHOW</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center">
                    <img src="~/Assets/images/products/toys/mickey-mouse.png" alt="" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Mickey Mouse</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Integer efficitur varius nulla, et porta mi posuere ac. Donec finibus nibh ac tincidunt varius.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pharetra ipsum et neque ornare luctus.
                        </p>
                        <a href="" class="btn btn-info">SHOW</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center">
                    <img src="~/Assets/images/products/toys/duck.jpg" alt="" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Duck</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Integer efficitur varius nulla, et porta mi posuere ac. Donec finibus nibh ac tincidunt varius.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pharetra ipsum et neque ornare luctus.
                        </p>
                        <a href="" class="btn btn-info">SHOW</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card text-center">
                    <img src="~/Assets/images/products/toys/lego-car.png" alt="" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Lego Car</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Integer efficitur varius nulla, et porta mi posuere ac. Donec finibus nibh ac tincidunt varius. 
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pharetra ipsum et neque ornare luctus.</p>
                        <a href="" class="btn btn-info">SHOW</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center">
                    <img src="~/Assets/images/products/toys/pink-elephant.png" alt="" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Pink Elephant</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Integer efficitur varius nulla, et porta mi posuere ac. Donec finibus nibh ac tincidunt varius.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pharetra ipsum et neque ornare luctus.
                        </p>
                        <a href="" class="btn btn-info">SHOW</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center">
                    <img src="~/Assets/images/products/toys/put-figure.jpg" alt="" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Put Figure</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Integer efficitur varius nulla, et porta mi posuere ac. Donec finibus nibh ac tincidunt varius.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pharetra ipsum et neque ornare luctus.
                        </p>
                        <a href="" class="btn btn-info">SHOW</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center">
                    <img src="~/Assets/images/products/toys/puzzle-jigsaw.jpg" alt="" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Puzzle</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Integer efficitur varius nulla, et porta mi posuere ac. Donec finibus nibh ac tincidunt varius.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pharetra ipsum et neque ornare luctus.
                        </p>
                        <a href="" class="btn btn-info">SHOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>